@import 'px2rem.scss';
@import 'variable.scss';

::-webkit-scrollbar{
  display:none;
}
* {
  box-sizing: border-box;
}
html, body{
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
/*
[data-dpr="1"] body {
  font-size: 12px;
}
[data-dpr="2"] body {
  font-size: 24px;
}
[data-dpr="3"] body {
  font-size: 36px;
}*/

a[href]{
  color: #3eb7f3;
  text-decoration: none;

  &.mint-cell{
    color: inherit;
  }
}
p{
  padding: 0;
  margin: 0;
}

input[disabled], input:disabled{
  background-color: #fff;
  color: #37474f;
  -webkit-text-fill-color: #37474f;
  opacity: 1;
}

.mint-button--primary{
  background-color: #FF2521;
}

input, label[for], textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:focus{
  outline: none;
}

#app {
  //position: fixed;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;
  //overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  /*min-height: 100%;*/
  overflow: auto;
  font-family: 'Avenir', Helvetica, Microsoft YaHei, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  color: $mainFontColor;

  .mint-header.page-header{
    height: px2rem(110);
    background-color: #1a1a1f;

    .mint-header-title{
      font-size: 16px;
    }
    .search-box-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0 px2rem(24);

      .search-box {
        width: 100%;
        height: px2rem(56);
        margin-top: px2rem(28);
        /*line-height: px2rem(75);*/
        opacity: .8;
        padding-left: px2rem(70);
        padding-right: px2rem(60);
        border: none;
        border-radius: 20px;
      }
      .search-icon{
        position: absolute;
        bottom: px2rem(36);
        left: px2rem(44);
        width: px2rem(30);
        z-index: 1;
      }
    }
  }

  .mint-header.is-fixed + .page-main {
    top: px2rem(110);
  }

  .page{
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  .mint-button--danger{
    background-color: #c30911;
  }
}

.page-main{
  position: relative;
  width: 100%;
  margin-bottom: 56px;

  .scroll-outer-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: transparent;
  }
}

.bottom-single-btn{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 61px;
  background: #fff;
  padding: 10px;
}

.mint-toast{
  padding: 12px 15px !important;
}

.sub-title{
  padding: 8px 20px;
  color: #7c868c;
  font-size: .75rem;
  line-height: 14px;
}

.sub-content{
  margin: 10px 0 0;
  padding: 10px 20px;
  background-color: #ffffff;
}

.info-show{
  .mint-cell{
    .mint-cell-wrapper{
      background-image: linear-gradient(180deg, #e4eaec, #e4eaec 50%, transparent 50%);
    }

    .mint-cell-title{
      color: #a3afb7;
    }
  }
}

.mint-cell{
  &:last-child{
    background-image: none;
  }

  &:first-child{
    .mint-cell-wrapper{
      background-image: none;
    }
  }
}

.mint-indicator .mint-indicator-wrapper{
  z-index: 1000;
}
.noMore{
  padding: 15px 0 15px;
  text-align: center;
  color: #999999;
  font-size: .875rem;
}

//初始mint样式
.mint-cell {
  .mint-cell-wrapper {
    font-size: 14px;
    .mint-cell-value{
      .mint-field-core{
        text-align: left;
      }
    }
  }
}

//初始mint样式
.mint-cell-not-border{
  .mint-cell-wrapper{
    position: relative;
    background-image: none;

    &:after{
      position: absolute;
      bottom: 0;
      left: 60px;
      right: 0;
      height: 1px;
      content: '';
      background-color: #e4eaec;
    }

    &:last-child:after{
      display: none;
    }

    .mint-cell-title{

      img{
        margin: 0 20px 0 10px;
      }

      .mint-cell-text{
        color: $mainFontColor;
        font-size: .9125rem;
      }
    }
  }
}


.modal-bg{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.mint-navbar{
  border-bottom: 1px solid #dedede;

  .mint-tab-item{
    padding: 0;

    &.is-selected{
      margin-bottom: 0;
      border-bottom: none;
      color: #40c4ff;

      .mint-tab-item-label{
        position: relative;
        display: inline-block;

        &:after{
          position: absolute;
          left: -5px;
          right: -5px;
          bottom: 0;
          height: 2px;
          background-color: #40c4ff;
          content: '';
        }
      }
    }

    .mint-tab-item-label{
      padding: 12px 0;
      font-size: 16px;
      line-height: 1.6;
    }
  }
}

* > .link {
  color: inherit !important;
}

.page-infinite-loading{
  margin-top: 0;
  text-align: center;
  height: 50px;
  line-height: 50px;

  .mint-spinner-fading-circle {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.mint-tabbar{
  .mint-tab-item{
    position: relative;

    .vertical-line{
      position: absolute;
      right: 0;
      width: 1px;
      height: 100%;
      top: 0;
      background-color: #dedede;
    }
  }
}

.footer-btn{
  padding-top: 50px;

  .footer-btn-box{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px 15px;
    background: #f4f9fc;
  }
}

.line-btn{
  padding-bottom: 50px;

  .line-btn-box{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    text-align: center;
    font-size: 1rem;
    line-height: 40px;
    color: #37474f;

    &.red{
      color: #ff5353;
    }

    &.green{
      color: #48d9a1;
    }
  }
}

// icon
.bzw-icon{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: 100% auto;

  /*&.bzw-icon-edit{
    width: 15px;
    height: 16px;
    background-image: url('~@/assets/img/edit.png');
  }
  &.bzw-icon-delete{
    width: 15px;
    height: 18px;
    background-image: url('~@/assets/img/delete.png');
  }
  &.bzw-icon-vehicle{
    width: 41px;
    height: 41px;
    background-image: url('~@/assets/img/logistics_shipped.png');
  }

  &.bzw-icon-face{
    width: 64px;
    height: 64px;
    background-image: url('~@/assets/img/face.png');
  }
  &.bzw-icon-wait{
    width: 64px;
    height: 64px;
    background-image: url('~@/assets/img/wait.png');
  }
  &.bzw-icon-yes{
    width: 64px;
    height: 64px;
    background-image: url('~@/assets/img/yes.png');
  }
  &.bzw-icon-err{
    width: 64px;
    height: 64px;
    background-image: url('~@/assets/img/err.png');
  }
  &.bzw-icon-qr-none{
    width: 64px;
    height: 64px;
    background-image: url('~@/assets/img/qr_none.png');
  }
  &.bzw-icon-date{
    width: 16px;
    height: 20px;
    background-image: url('~@/assets/img/date.png');
  }
  &.bzw-icon-date-blue{
    width: 16px;
    height: 20px;
    background-image: url('~@/assets/img/date_on.png');
  }*/
}

.mescroll{
  position: absolute!important;
}

// swiper 中当前页 dot 的颜色
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #fff;
}

// ====================================================== no data 展示效果的样式 ================================================
.no-data-container{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  /*vertical-align: middle;*/

  .no-data-icon{
    position: absolute;
    width: px2rem(160);
    top: px2rem(-190);
    left: 50%;
    margin-left: px2rem(-80);
  }
  p{
    font-size: px2rem(30);
    opacity: .4;
  }

  &.normal{
    position: relative;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);

    .no-data-icon{
      position: relative;
      width: px2rem(160);
      top: 0;
      left: 0;
      margin-top: px2rem(20);
      margin-left: 0;
      margin-bottom: px2rem(20);
    }
  }
}
// ====================================================== router view page transition 侧滑 ================================================
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.page.transition-module{
  background-color: #f4f4f4;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  animation: fadeInRight 0.4s ease 0s;
}

ul{
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clearfix{
  &:after{
    content:"";
    display: block;
    clear:both;
  }
}

// ====================================================== 带有sort-navbar的head标签头部 ==================================
.sort-navbar.mint-navbar{
  position: absolute;
  width: 100%;
  top: px2rem(110);
  .mint-tab-item{
    .mint-tab-item-label{
      width: 100%;
      height: px2rem(92);
      padding: 0;
      line-height: px2rem(92);
    }

    &.is-selected{
      .mint-tab-item-label{
        color: #c30911;
        &::after{
          left: 0;
          right: 0;
          bottom: 0px;
          height: 1px;
          background-color: #c30911;
        }
      }
    }
  }
}

// ====================================================== 颜色 ======================================================
.colbfbfbf{
  color: #bfbfbf;
}
.col888888{
  color: #888888;
}
.col1aad19{
  color: #1aad19;
}
.colc30911{
  color: #c30911;
}

.bgbfbfbf{
  background-color: #bfbfbf;
}
.bg1aad19{
  background-color: #1aad19;
}
.bgc30911{
  background-color: #c30911;
}
