.level1{
  background: url("~@/assets/img/new_img/user/d1.png") no-repeat center;
  background-size: cover;

}
.level2{
  background: url("~@/assets/img/new_img/user/d2.png") no-repeat center;
  background-size: cover;

}
.level3{
  background: url("~@/assets/img/new_img/user/d3.png") no-repeat center;
  background-size: cover;

}
.level4{
  background: url("~@/assets/img/new_img/user/d4.png") no-repeat center;
  background-size: cover;

}
.level5{
  background: url("~@/assets/img/new_img/user/d5.png") no-repeat center;
  background-size: cover;

}
.level6{
  background: url("~@/assets/img/new_img/user/d6.png") no-repeat center;
  background-size: cover;

}
.level7{
  background: url("~@/assets/img/new_img/user/d7.png") no-repeat center;
  background-size: cover;

}
.level1-nh{
  background: url("~@/assets/img/new_img/user/d1-nh.png") no-repeat center;
  background-size: cover;

}
.level2-nh{
  background: url("~@/assets/img/new_img/user/d2-nh.png") no-repeat center;
  background-size: cover;

}
.level3-nh{
  background: url("~@/assets/img/new_img/user/d3-nh.png") no-repeat center;
  background-size: cover;

}
.level4-nh{
  background: url("~@/assets/img/new_img/user/d4-nh.png") no-repeat center;
  background-size: cover;

}
.level5-nh{
  background: url("~@/assets/img/new_img/user/d5-nh.png") no-repeat center;
  background-size: cover;

}
.level6-nh{
  background: url("~@/assets/img/new_img/user/d6-nh.png") no-repeat center;
  background-size: cover;

}
.level7-nh{
  background: url("~@/assets/img/new_img/user/d7-nh.png") no-repeat center;
  background-size: cover;

}
