$color1: #adadad;
$mainFontColor: #36464e;
$color2: #ff7777;
$color3: #ff2521;
$color4: #ababab;
$color5: #ff782e;
$color6: #efefef;
$color7: #dc2413;

$textColor1: #4d4d4d;
$gray: #a4a4a4;
$fgxian: #f2f2f2;
$hei: #e4e4e4;
